<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.C8I4_jaV.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/DclHiJYo.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/BnxoNJBq.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/BuWaylL4.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.CPMl8nm7.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/CF_syKdK.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/Bgn3cEzN.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/CSG-_NLd.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_t2hol1 = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.C8I4_jaV.js"),
						import("/_app/immutable/entry/app.CPMl8nm7.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
