<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>fastapi server part1</title>
    <script src="./index.js"></script>
  </head>
  <body>
    <h1>{{ welcome_message }}</h1>
    <form id="my_form">
      <label for="hour">Choose a hour</label>
      <select id="hour">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
       </select>
      <br>

      <label for="am_pm">Choose a hour</label>
      <select id="am_pm">
        <option>"AM"</option>
        <option>"PM"</option>
      </select>
      <br>
      <input type="submit" value="check number of events on this date">

    </form>
  </body>
</html>
